*{margin: 0;padding: 0;}
body,html{
    height: 100%;
    width: 100%;
}
#content-list{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%
}
.posts{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50%;
    padding: 5px;
    margin-bottom:5px;
}
.images{
    display: flex;
    height:65%;
    width: 100%;
    
}
.img1{
    height: 100%;
    width: 33%;
    background-image: url('img1.jpg');
    background-size: cover;
}
.img2{
    height: 100%;
    width: 33%;
    background-image: url('img2.jpg');
    background-size: cover;
}
.img3{
    height: 100%;
    width: 33%;
    background-image: url('img3.jpg');
    background-size: cover;
}
.content{
    display: flex;
    flex-direction: column;
    height:35% ;
    width: 100%;
}
.text1{
    display: block;
    height: 25%;
    width: 100%;
    font-weight: bold;
    color: black;
    overflow-wrap: break-word;
}
.text2{
    display: block;
    height: 75%;
    width: 100%;
    overflow-wrap: break-word;
}


